
.wd-background-grey {
    background-color: darkgray;
    color: white;
}
.wd-background-black {
    background-color: black;
}
.wd-border {
    border-width: 4px;
    border-color: rgb(47,51,54);
}
.wd-margin-left {
    margin-left: 16px
}
.wd-margin-right {
    margin-right: 12px
}
.wd-rounded-corners-all-around {
    border-radius: 50px;
}
.wd-highlight {
    color: rgb(29,161,242);
    font-size: 15px;
    padding: 16px;
    border-bottom-color: rgb(29,161,242);
    border-bottom-style: solid;
}
.wd-highlight-blue {
    color: rgb(29,161,242);
}
.wd-other-highlight {
    color: rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px;
}
.wd-color-gray {
    color: darkgray;
}
.wd-pos-fixed {
    position: fixed;
    margin-right: 12px;
}
.wd-topic {
    font-size: 13px;
    color: rgb(110, 118, 125);
}
.wd-topic-white {
    font-size: 13px;
    color: white;
}
.wd-color-white{
    color:white;
    font-size: 16px;
}
.wd-picture {
    width: 100px;
    height: 100px;
    margin-right: 16px;
}
.wd-author {
    margin-left: 12px;
    margin-top: 12px;
    font-size: 15px;
    color: white;
}
.wd-inline {
    display: inline;
}

.wd-more-icon {
    top: 9px;
    left: 3px;
}

.wd-search-icon2 {
    bottom: 12px;
    left: 25px;
}

.wd-blue {
    color: #0275d8;
}

.wd-text-above-img {
    bottom: 3px;
    left: 22px;
}

.wd-search-icon {
    position: absolute;
    left: 10px;
    top: calc(50% - 12px);
    pointer-events: none;
    color: #585858;
    z-index: 3;
}

.wd-settings-icon {
    position: relative;
    right: 10px;
    top: 5px;
}

.wd-caption {
    position: relative;
    bottom: 1px;
    width: fit-content;
    color: rgb(255, 255, 255);
    z-index: 3;
}

.wd-icon-style {
    display: flex;
    flex-direction: row;
    text-align: center
}

.wd-trend-style {
    display: flex;
    flex-direction: column;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

input {
    text-indent: 25px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.wd-gray-text {
    font-size: 13px;
    color: #5F6368;
    font-weight: normal;
}

.wd-big-text {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.wd-follow-text {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.row {
    display: flex;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wd-small-text {
    font-size: 14px;
    color: #1e1e1e;
}


